/* styles.css */

.hero-image {
    height: 200px; /* Default for mobile */
}

@media (min-width: 640px) { /* sm */
    .hero-image {
        height: 300px; /* For small devices */
    }
}

@media (min-width: 768px) { /* md */
    .hero-image {
        height: 400px; /* For medium devices */
    }
}

@media (min-width: 1024px) { /* lg */
    .hero-image {
        height: 535px; /* For large devices */
    }
}
